[submodule "001-global-race"]
	path = 001-global-race
	url = https://github.com/2526-4ahif-pose/ex-intro-01-global-race-lukaslarndorfer.git
[submodule "002-pool-guard"]
	path = 002-pool-guard
	url = https://github.com/2526-4ahif-pose/ex-mapi-01-poolguard-lukaslarndorfer.git
[submodule "003-movies"]
	path = 003-movies
	url = https://github.com/2526-4ahif-pose/ex-mapi-02-movies-lukaslarndorfer.git
